body, html {
	font-family: "Trebuchet Sans MS", "Bitstream Vera Sans", sans-serif;
	font-size: 10pt;
	color: black;
	background-color: #888;
}

#content {
	float: left;
	clear: left;
}

#footer {
	clear: left;
	color: #4d4d4d;
	background-color: transparent;
	border-top: .1em dashed #222;
	padding-top: .3em;
	font-size: .8em;
}

#footer a {
	color: #4b4b4b
	;
	background-color: transparent;
}

#navigation {
	float: right;
	list-style: none;
	display: inline;
}

#navigation li {
	display: inline;
}

:link, :visited {
	color: black;
	background-color: transparent;
	font-weight: bold;
	text-decoration: underline;
}

h1, :link:hover, :visited:hover {
	color: maroon;
	background-color: transparent;
}

h1 {
	float: left;
	font-size: 1.75em;
}

h2 {
	color: #440000;
	background-color: transparent;
	font-size: 1.25em;
}

img {
	border: 0;
}

.right {
	float: right;
}

.shell {
	font-family: "smoothansi", "Bitstream Vera Sans Mono", "Terminal", monospace;
}

.angryzakk {
	color: black;
	background-color: #aaa;
	font-style: italic;
	font-size: 1.2em;
	font-weight: bold;
}

.current {
	font-weight: bold;
}
