body, html {
	font-family: "Trebuchet Sans MS", "Bitstream Vera Sans", sans-serif;
	font-size: 10pt;
	color: black;
	background-color: #888;
	margin: 0;
}

#content {
	float: left;
	clear: left;
	padding: 1em;
}

#footer {
	clear: left;
	background-color: transparent;
	color: #4d4d4d;
	border-top: 1px dashed #222;
	padding-top: .3em;
	font-size: .8em;
	padding: .35em;
}

#footer a {
	color: #4b4b4b;
	background-color: transparent;
}

#footer a:hover {
	color: black;
	background-color: transparent;
}

#navigation {
	float: right;
	list-style: none;
	display: inline;
	background-color: #aaa;
	color: black;
	margin-top: 0;
	padding-left: 0;
	padding-bottom: .2em;
	border-left: 1px solid #222;
	border-bottom: 1px solid #222;
}

#navigation li {
	display: inline;
	padding: .2em;
}

:link, :visited {
	color: black;
	background-color: transparent;
	font-weight: bold;
	text-decoration: underline;
}

h1, :link:hover, :visited:hover {
	color: maroon;
	background-color: transparent;
}

h1 {
	float: left;
	font-size: 1.75em;
	padding-left: .5em;
}

h2 {
	color: #440000;
	background-color: transparent;
	font-size: 1.25em;
}

h3 {
	color: #440000;
	background-color: transparent;
	font-size: 1em;
	margin: .5em 0 .5em 0;
}

img {
	border: 0;
}

table {
	border: none;
	border-spacing: 0;
}

caption {
	color: maroon;
	background-color: transparent;
	font-variant: small-caps;
}

th {
	text-align:	left;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	padding: .5em;
}

td {
	color: black;
	background-color: #8f8f8f;
	border-bottom: 1px dashed #777;
	border-right: 1px dashed #777;
	padding: .20em;
}

.right {
	float: right;
}

.shell {
	font-family: "smoothansi", "Bitstream Vera Sans Mono", "Terminal", monospace;
	color: black;
	background-color: #8f8f8f;
}

.angryzakk {
	color: black;
	background-color: #aaa;
	font-style: italic;
	font-size: 1.2em;
	font-weight: bold;
}

.current {
	font-weight: bold;
}
